.App {
  font-family: sans-serif;
  text-align: center;
}

.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 50%;
  min-width: 200px;
}

.form input,
.form button {
  text-align: center;
  font-size: 24px;
}

.profile-container {
  margin: 50px auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.name {
  font-weight: 800;
  font-size: 24px;
}
